/**
 *  Copyright Steven Allen (2015)
 *
 *  This file is part of gazetta-bootstrap.
 *
 *  gazetta-bootstrap is free software:  you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License (version 2) as
 *  published by the Free Software Foundation.
 *
 *  gazetta-bin is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with gazetta-bootstrap.  If not, see <http: //www.gnu.org/licenses/>.
 */
#site-header {
  left: 0;
  width: 216px;
  position: absolute;
  transition: margin-bottom .5s;
}

#site-header .header {
  font-weight: 300;
  padding: 20px;
  border-bottom: 1px solid var(--inner-border-color);
}

#site-header .header, #page-header .header {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  font-size: 3rem;
  line-height: 1.0;
  background-color: var(--header-bg-color);;
}

#page-header {
  padding: 0;
  font-weight: 300;
  border-bottom: 1px solid var(--inner-border-color);
  background-color: var(--header-bg-color-alt);;
}

#page-header .header {
  padding: 20px;
  border-color: var(--outer-border-color);
}


.content {
  padding: 20px;
}

.title {
  display: flex;
  align-items: center;
}

.title .header {
  flex-grow: 1;
}

.title .header:nth-last-child(2) {
  border-right: 1px solid;
}

.title time {
  font-size: 1.2em;
  padding: 1em 2em;
  line-height: 1.0;
  color: var(--faded-color);
}

.title time .date-year {
  display: block;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.title time .date-month::after {
  content: ".";
}

#site-header, #site-content {
  background-color: var(--content-bg-color);
  border-style: solid;
  border-color: var(--outer-border-color);
  border-width: 1px 3px 3px 1px;
}

#site-content, #site-footer {
  width: 700px;
  position: relative;
  min-width: 310px;
  left: 240px;
}

#site-footer {
  margin: 10px;
  text-align: center;
  line-height: 1;
  color: var(--footer-color);
}

html {
  /* Otherwise, responsive crap... */
  overflow: 0;
  overflow-y: scroll;
}

html, body {
  line-height: 1.5;
  background-color: var(--distant-bg-color);
  color: var(--text-color);
  font-family: "Libertinus Sans", "Open Sans", sans-serif;
}

body {
  position: relative;
  width: 940px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
  transition: margin .5s;
}

/* Hight adjustments */
@media (max-height: 600px) {
  body {
    /* Stick to the top */
    margin-top: 20px;
  }
}

/* Width adjustments */
@media (max-width: 1040px) {
  body {
    width: auto;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 290px;
  }
  #site-content, #site-footer {
    width: auto;
  }
}

@media (max-width: 750px) {
  /* reflow to vertical */
  #site-header {
    position: relative;
    margin-bottom: 20px;
    width: auto;
    min-width: 330px;
  }

  body {
    margin: 20px;
  }

  #site-content, #site-footer {
    left: 0;
  }
}

@media (max-width: 400px) {
  /* Drop the margins, add some padding */
  body {
    margin: 2px;
    width: auto;
  }

  #site-header {
    margin-bottom: 4px;
  }
}

#site-nav {
  white-space: nowrap;
  padding: 10px 20px;
}

#site-nav a {
  line-height: 1.2;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-color);
  width: 100%;
  display: block;
}

#site-nav a + a {
  padding-top: 10px;
}

#site-header:not(:hover) a.active:after, #site-header:hover a:hover:after {
  content: "«";
  color: var(--marker-color);
  right: 5px;
  position: absolute;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

a:focus, a:hover {
  text-decoration: underline;
}

a:focus {
  outline: none;
}

#site-nav a, .header {
    font-variant: small-caps;
    text-transform: lowercase;
}
